<form action="/Razorpay/Success" method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="@ViewBag.RazorpayKey"
            data-amount="@ViewBag.Amount"
            data-currency="INR"
            data-order_id="@ViewBag.OrderId"
            data-buttontext="Pay with Razorpay"
            data-name="Your Store"
            data-description="Test Transaction"
            data-image="/images/logo.png"
            data-prefill.name="Your Name"
            data-prefill.email="email@example.com"
            data-theme.color="#F37254">
    </script>
    <input type="hidden" value="Hidden Element" name="hidden">
</form>
